/* MessagesComponent's private CSS styles */
h2 {
  color: #d46c6c;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.clear {
  color: #999;
  background-color: hsl(44, 83%, 62%);
  margin-bottom: 12px;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}
.clear:hover {
  color: white;
  background-color: #44c5f8;
}