<h2>Upload a photo</h2>

<p>Click on upload an image to determine if there is a bird within the image: </p>


<!-- Moved here since I want this to be my upload page *main page* -->
<!-- display the generated MessagesComponent -->
<!-- Don't need this here since my upload button works -->

<app-messages></app-messages>

<hr>
<br>
<p>This is the upload button component!!!</p>
<app-upload-button></app-upload-button>

<hr>
<br>
<p>This is the placeholder for Analyze button component!!!, playing with attach file button </p>
<!-- analyze button will go here -->
<!-- might need ngif image is loaded or something like that -->
<app-upload-button></app-upload-button>

<!-- I want to do something like this with the image-->
<!-- <div *ngIf="selectedHero">

  <h2>{{ selectedHero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id ="hero-name" [(ngModel)]="selectedHero.name" 
    placeholder="name">
  </div>

</div> -->
<!-- <div *ngIf="url">

    <img src={{url}}>
</div>
</div> -->