<div class="content">

  <h2 >Welcome to my starter project web app</h2>
  
  <p>These are the frameworks, tools and technologies used for this project:  </p>
  <ul class="heroes">
    <li><a href="https://angular.io/">Angular</a></li>
    <li><a href="https://www.typescriptlang.org">TypeScript</a></li>
    <li><a href="https://cloud.google.com">Google Cloud Platform</a></li>
    <li><a href="https://cloud.google.com/vision">Google Cloud Vision</a></li>
    <li><a href="https://www.figma.com/file/KqZeRIDWH6deLx6tVp0JDR/isItABird?node-id=0%3A1">Figma</a></li>
    <li><a href="https://www.lucidchart.com/pages/">Lucidchart</a></li>
    <!--  -->

    <!-- <li *ngFor="let hero of heroes">
      <a routerLink="/detail/{{ hero.id}}">
        <span class="badge">{{ hero.id }}</span>  {{ hero.name }}
      </a>
    </li> -->
  </ul>
  
  <p> To upload a picture and analyze it, click</p>
  <span>
    <a routerLink="/dashboard">Upload</a>
  </span>
  <p> here or in the navigation bar</p>
</div>
<!-- <div>
  <button (click)="goBack()"> go back </button>
</div> -->