<div class="uploaded-img">
    <img src="{{ url }}" />
</div>

<!-- || = Or operator - so it returns file name or 'no file uploaded yet' -->
<div class="img-name">
    <!-- {{ fileName || "No file uploaded yet." }} -->
    {{ fileName || "" }}
</div>

<!--  <input> type="file" lets user open 'browser file selection dialog' and select one or more files, file can be selected from file system  -->
<!-- When the event gets triggered, the file is not automatically uploaded to the backend by the browser -->
<!-- <input> (type="file") is impossible to style properly so a trick is hiding it from user, and building alternative file upload UI that uses the file input behind scenes-->
<!-- On top - plain file input used to open file upload dialog and handle change event (hidden from user [scss file]) -->
<!-- onFileSelected (listener) gets executed and the event object ($event which can be added to a variable  with #fileUpload) gets forwarded-->
<!-- upload pink button and file input are linked - when user clicks button, click handler triggers file input via fileUpload.click(). -->
<!-- built with Angular materials on tutorial, I styled it wit scss. To do; check into angular materials -->

<!-- file-upload container div - contains actual UI that user will see on the screen. -->
<div class="file-upload">
    <input
    type="file"
    class="file-input"
    (change)="onFileSelected($event)"
    #fileUpload
    />

    <button
    mat-mini-fab
    color="primary"
    class="upload-btn"
    (click)="fileUpload.click()"
    >
    <!-- <mat-icon>attach_file</mat-icon> -->
    Attach file
    </button>
</div>

<!-- ANALYZE BUTTON  that shows up if image is uploaded -->

<div *ngIf="url" class="file-analyze">
    <button
        mat-mini-fab
        color="primary"
        class="analyze-btn"
        (click)="analyze($event)"
    >
        <!-- <mat-icon>wb_iridescent</mat-icon>
        <mat-icon>toys</mat-icon> 
        <mat-icon>assistant</mat-icon>
        <mat-icon>blur_on</mat-icon>
        <mat-icon>flare</mat-icon>
        -->
        Analyze
    </button>
</div>


<!-- <div class="response-message">
    {{ fileName || "" }}
</div> -->

<div class="output-msg">
    <!-- {{ fileName || "No file uploaded yet." }} -->
    {{ outputMessage }}
</div>

<div *ngIf="outputMessage" class="confused-cat">
    <!-- <img src="{{  }}" /> -->
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSS18JiUCwG_HrPFRb0dpCN65WjOGLwvhX9Zw&usqp=CAU" />
</div>