
<div class="output-msg content">
  {{ outputMessage }}
</div>

<div *ngIf="outputMessage" class="confused-cat content">
  <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSS18JiUCwG_HrPFRb0dpCN65WjOGLwvhX9Zw&usqp=CAU"
  />
</div>

<div class="image-area content">
    <div class="buttons-div">
        <div class="file-upload">
          <input
            type="file"
            class="file-input"
            (change)="onFileSelected($event)"
            #fileUpload
          />
    
          <button color="primary" class="upload-btn" (click)="fileUpload.click()">
            <mat-icon> add_a_photo </mat-icon>
            Attach file
          </button>
        </div>
    
        <!-- ANALYZE BUTTON -->
        <div *ngIf="url" class="file-analyze">
          <button color="primary" class="analyze-btn" (click)="analyze($event)">
            <mat-icon>auto_fix_high</mat-icon>
            Analyze
          </button>
        </div>
      </div>

  <div class="img-div content highlight-card">
    <img src="{{ url }}" />
    {{ fileName || "" }}
  </div>

</div>


<!--  <input> type="file" lets user open 'browser file selection dialog' and select one or more files, file can be selected from file system  -->
<!-- When the event gets triggered, the file is not automatically uploaded to the backend by the browser -->
<!-- <input> (type="file") is impossible to style properly so a trick is hiding it from user, and building alternative file upload UI that uses the file input behind scenes-->
<!-- On top - plain file input used to open file upload dialog and handle change event (hidden from user [scss file]) -->
<!-- onFileSelected (listener) gets executed and the event object ($event which can be added to a variable  with #fileUpload) gets forwarded-->
<!-- upload pink button and file input are linked - when user clicks button, click handler triggers file input via fileUpload.click(). -->
<!-- built with Angular materials on tutorial, I styled it wit scss. To do; check into angular materials -->

<!-- file-upload container div - contains actual UI that user will see on the screen. -->
