.content {
  display: flex;
  margin: auto;
  padding: 10px 16px;
  max-width: 1200px;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;

  background-color:rgb(228, 218, 218);
  // testing

}


// Buttons UPLOAD and ANALYZE
.file-input {
  display: none;
}

.file-upload, 
.file-analyze,
.img-name {
  padding-left: 10%;
}

.upload-btn {
  color: rgb(255, 255, 255);
  background-color: rgb(218, 14, 102);
  margin-bottom: 12px;
  padding: 2rem;
  border-radius: 10px;
  border-color: #999;
  font-size: 1.5rem;
}
.upload-btn:hover {
  color: #555;
    background-color: #d2c319;
}

.analyze-btn {
  color: #555;
  background-color: hsl(164, 66%, 65%);
  margin-bottom: 12px;
  padding: 2rem;
  border-radius: 10px;
  border-color: #777;
  font-size: 1.5rem;
  border-color: hsl(164, 66%, 65%);
    }
.analyze-btn:hover {
  color: rgb(158, 154, 154);
  background-color: #d2c319;
}


.image-area {
  display: flex;
  flex-direction:row
}
.buttons-div {
  flex:1;
  width: 20%;
}
.img-div {
  flex: 3;
  width: 20%;
  margin: 15dp;
  max-width: 700px;
  max-height: 700px;
}

.output-msg {
  font-size: 4em;
  font-weight: bold;
  color:lightsalmon;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
  max-width:100%;
  max-height:100%;
}